$background: black;

Screen {
    background: $background;
}

PineHeader {
    dock: top;
    width: 100%;
    color: $text;
    height: 1;
    background: $foreground 10%;
}

Icon {
    dock: left;
    content-align: left middle;
    width: 2;
}

Title {
    content-align: center middle;
    width: 100%;
}


Sidespace {
    dock: left;
    height: 100%;
    width: 36;
}

Sidebar {
    width: 28;
    margin-left: 1;
}

SidebarButtons {
    width: 6;
    margin-bottom: 1;
    background: $foreground 5%;
}


Button.sidebar-button {
    min-width: 6;
}

Button.sidebar-button:focus {
    text-style: bold;
}

DirectoryTree {
    background: $background;
}

Body {
    layout: grid;
    grid-size: 1;
    grid-rows: 3fr 1fr;
}

FileTabs {
    height: 100%;
    background: $foreground 10%;
}

Terminal{
    height: 100%;
    background: $foreground 5%;
}
