$background: black;

Screen {
    background: $background;
}

PineHeader {
    dock: top;
    width: 100%;
    color: $text;
    height: 3;
    border: round white;
}

Icon {
    dock: left;
    padding: 0 1;
    width: 8;
    content-align: left middle;
}

Title {
    content-align: center middle;
    width: 100%;
}

SideButtons {
    text-align: center;
    width: 6;
    padding: 0 1;
    height: 100%;
    border: white;
}

Sidebar {
    width: 25;
    height: 100%;
    border: white;
}

DirectoryTree {
    background: $background;
}

FileTabs {
    height: 60%;
    border: white;
}

Terminal{
    height: 35%;
    border: white;
}
