$background: black;

Screen {
    background: $background;
}

PineHeader {
    dock: top;
    width: 100%;
    color: $text;
    height: 2;
}

Icon {
    dock: left;
    content-align: left middle;
    width: 2;
    background: $background;
}

Title {
    content-align: center middle;
    width: 100%;
    background: $background;
}


Sidespace {
    dock: left;
    height: 100%;
    width: 36;
}

Sidebar {
    width: 28;
}

SidebarButtons {
    width: 8;
    margin-bottom: 1;
    padding: 0 1;
}

Button.sidebar-button {
    min-width: 6;
}

DirectoryTree {
    background: $background;
}

Body {
    layout: grid;
    grid-size: 1;
    grid-rows: 3fr 1fr;
}

FileTabs {
    height: 100%;
}

Terminal{
    height: 100%;
}
